<div class="row">
  <div class="col-md-6">
    <h1>Todo List</h1>
    <ol class="list-group">
      <li
        *ngFor="let todo of todos"
        class="list-group-item">
        {{todo.name}} : {{todo.content}} <i (click)="deleteTodo(todo)" class="fa fa-trash" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="todo.name">
    <label for="content">Content</label>
    <input type="text" id="content" class="form-control" [(ngModel)]="todo.content">
    <button
      [disabled]="!todo.name.trim().length || ! todo.content.trim().length"
      (click)="addTodo()"
      class="btn btn-primary">
      Add Todo
    </button>
  </div>
</div>
